<!-- <p-toast></p-toast> -->
<div class="container">
  <form [formGroup]="formUsers" (ngSubmit)="onSubmit()" #formProd="ngForm">
    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="name"
        type="text"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="name"
        placeholder="Enter user's name"
        required
      />
      <label for="categoryName">Name</label>
      <span *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
        <span *ngIf="name.errors?.['required']">* Name is required!</span>
      </span>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="email"
        type="email"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="email"
        placeholder="Enter user's email"
        required
      />
      <label for="email">E-mail</label>
      <span
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="alert"
      >
        <span *ngIf="email.errors?.['required']">* E-mail is required!</span>
      </span>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="password"
        type="password"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="password"
        placeholder="Enter user's password"
        required
      />
      <label for="password">Password</label>

      <span
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="alert"
      >
        <span *ngIf="password.errors?.['required']"
          >* Password is required!</span
        >
      </span>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="confPassword"
        type="password"
        pInputText
        class="form-control"
        id="floatingInput"
        placeholder="Enter user's password confirmation"
        formControlName="confPassword"
        required
      />
      <label for="confPassword">Confirm Password</label>

      <span
        *ngIf="
          confPassword.invalid && (confPassword.dirty || confPassword.touched)
        "
        class="alert"
      >
        <span *ngIf="confPassword.errors?.['required']"
          >*Confirm Password is required!</span
        >
      </span>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="telephone"
        type="number"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="telephone"
        placeholder="Enter user's telephone"
        required
      />
      <label for="telephone">Telephone</label>
      <span
        *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)"
        class="alert"
      >
        <span *ngIf="telephone.errors?.['required']"
          >* Telephone is required!</span
        >
      </span>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="cpf"
        type="number"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="cpf"
        placeholder="Enter user's CPF"
        required
      />
      <label for="telephone">CPF</label>
      <span *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)" class="alert">
        <span *ngIf="cpf.errors?.['required']">* CPF is required!</span>
      </span>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="address"
        type="text"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="address"
        placeholder="Enter user's address"
        required
      />
      <label for="address">Address</label>
      <span
        *ngIf="address.invalid && (address.dirty || address.touched)"
        class="alert"
      >
        <span *ngIf="address.errors?.['required']">* Address is required!</span>
      </span>
    </div>

    <div class="form-group">
      <div class="d-grid gap-2 d-md-block">
        <label for="formFile" class="form-label">
          <input
            class="form-control"
            type="file"
            (change)="selectFile($event)"
          />
        </label>

        <button
          class="btn btn-primary"
          [disabled]="!selectedFiles"
          (click)="upload()"
        >
          <i class="pi pi-upload"></i>
        </button>
      </div>

      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>

      <!-- <div class="row mt-3">
        <div class="col-sm-12 mb-2">
          <re-captcha
            id="recaptcha"
            name="recaptcha"
            #recaptcha="ngModel"
            [(ngModel)]="token"
            required
            [class.is-invalid]="
              recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)
            "
          ></re-captcha>
          <div
            *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)"
            class="invalid-feedback"
          >
            <div *ngIf="recaptcha.errors?.['required']">
              This field is required.
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="btn">
      <button class="btn btn-outline-success" (click)="onSubmit()">
        <span>Save</span>
        <i class="pi pi-check"></i>
      </button>
    </div>
  </form>
</div>
