.container {
  display: flex;
  flex-direction: column;
}

.container .form-group {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  gap: 1rem;
}

.container .btn {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.alert {
  display: flex;
  color: red;
}
