<!-- <p-toast></p-toast> -->
<div class="container">
  <form [formGroup]="formProducts" (ngSubmit)="onSubmit()" #formProd="ngForm">
    <div class="form-group">
      <label for="categoryName">Category</label>

      <p-dropdown
        [options]="categories"
        optionLabel="name"
        formControlName="category"
        placeholder="Select a Category"
      ></p-dropdown>
    </div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="name"
        type="text"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="name"
        placeholder="Enter product's name"
        required
      />
      <label for="categoryName">Name</label>
    </div>
    <div *ngIf="name.errors?.['required']">* name is required!</div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="description"
        type="text"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="description"
        placeholder="Enter product's description"
        required
      />
      <label for="categoryName">Description</label>
    </div>

    <div *ngIf="description.errors?.['required']">* name is required!</div>

    <div class="form-group" class="form-floating mb-3">
      <input
        formControlName="price"
        type="number"
        pInputText
        class="form-control"
        id="floatingInput"
        formControlName="price"
        placeholder="Enter product's price"
        required
      />
      <label for="categoryName">Price</label>
    </div>

    <div *ngIf="description.errors?.['required']">* name is required!</div>

    <div class="form-group" class="col-auto">
      <label for="categoryName" class="form-label"></label>
      <div class="row">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input
              class="form-control"
              type="file"
              (change)="selectFile($event)"
            />
          </label>
        </div>

        <div class="col-auto">
          <button
            class="btn btn-primary mb-3"
            [disabled]="!selectedFiles"
            (click)="upload()"
          >
            Upload
          </button>
        </div>
      </div>

      <div *ngIf="currentFile" class="progress my-3">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>
    </div>

    <div class="btn">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-button-rounded p-button-success p-button-text"
        (click)="onSubmit()"
      ></button>
    </div>
  </form>
</div>
