<p-toast></p-toast>
<div class="container">
  <form [formGroup]="formProducts" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="categoryName">Category</label>
      <p-dropdown
        [options]="categories"
        [(ngModel)]="selectedProduct"
        placeholder="Select a Category"
        optionLabel="name"
        [showClear]="true"
        [ngModelOptions]="{ standalone: true }"
      ></p-dropdown>
    </div>

    <div class="form-group">
      <label for="categoryName">Name</label>
      <input
        type="text"
        pInputText
        class="form-control"
        id="productName"
        placeholder="Enter product's name"
      />
    </div>

    <div class="form-group">
      <label for="categoryName">Description</label>
      <input
        type="text"
        pInputText
        class="form-control"
        id="productDescription"
        placeholder="Enter product's description"
      />
    </div>

    <div class="form-group">
      <label for="categoryName">Price</label>
      <input
        type="text"
        pInputText
        class="form-control"
        id="productPrice"
        placeholder="Enter product's price"
      />
    </div>

    <div class="form-group">
      <label for="categoryName">Image</label>
      <p-fileUpload
        name="demo[]"
        url="./backend/files"
        (onUpload)="onUpload($event)"
        [multiple]="true"
        accept="image/*"
        [maxFileSize]="1000000"
      >
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </div>

    <div class="btn">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-check"
        class="p-button-rounded p-button-success p-button-text"
        (click)="onSubmit()"
      ></button>
    </div>
  </form>
</div>
