<div class="container">
  <div class="cart">
    <p-panel>
      <ng-template pTemplate="header">
        <h2>YOUR CART</h2>
      </ng-template>

      <p-table [value]="products">
        <ng-template pTemplate="header">
          <tr>
            <th colspan="2">Product's Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td><img src="{{ product.image }}" alt="" /></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price | currency }}</td>
            <td>
              <p-inputNumber
                [showButtons]="true"
                inputId="minmax-buttons"
                [min]="1"
                [max]="100"
                [(ngModel)]="product.quantity"
                (ngModelChange)="update()"
              >
              </p-inputNumber>
            </td>
            <td>{{ product.price * product.quantity | currency }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="removeProduct(product)"
              >
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="summary">
    <p-panel>
      <ng-template pTemplate="header">
        <th>ORDER SUMMARY</th>
      </ng-template>

      <tr>
        <td>Subtotal</td>
        <td>{{ subtotal | currency }}</td>
      </tr>
      <tr>
        <td>Shipping</td>
        <td>{{ shipping | currency }}</td>
      </tr>
      <tr>
        <button
          pButton
          pRipple
          type="button"
          label="Add coupon code"
          class="p-button-success p-button-text"
          icon="pi pi-arrow-right"
          iconPos="right"
        ></button>
      </tr>

      <ng-template pTemplate="footer">
        <tr>
          <h3>TOTAL</h3>
          <td>{{ subtotal + shipping | currency }}</td>
        </tr>
      </ng-template>
    </p-panel>

    <button type="button" class="btn btn-outline-success">
      Checkout <i class="pi pi-check"></i>
    </button>
    <button type="button" class="btn btn-outline-primary" routerLink="/shop">
      Back to Shop <i class="pi pi-shopping-bag"></i>
    </button>
  </div>
</div>
