.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.cart {
  display: flex;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 25rem;
}

td {
  padding: 0.5rem;
}
