.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.cart {
  display: flex;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
}

td {
  border: solid 1px white;
}

.inputNumber {
  border: solid 1px white;
  min-width: 50%;
}
