<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">
      <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <div class="d-grid gap-2">
          <li>Administrator</li>
          <button
            class="btn btn-outline-primary"
            type="button"
            routerLink="products"
          >
            Products
          </button>
          <button
            class="btn btn-outline-primary"
            type="button"
            routerLink="categories"
          >
            Categories
          </button>
          <li>Users</li>
          <button
            class="btn btn-outline-primary"
            type="button"
            routerLink="shop"
          >
            Shop
          </button>
        </div>
      </p-sidebar>
      <p-button
        type="button"
        class="mr-2"
        (click)="visibleSidebar1 = true"
        icon="pi pi-bars"
      ></p-button>
    </a>

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />

      <button
        class="btn btn-outline-danger btn-lg"
        type="submit"
        routerLink="favorites"
      >
        <i class="pi pi-heart"> </i>
      </button>

      <div class="countFav" *ngIf="countFav > 0">
        {{ countFav }}
      </div>

      <button
        class="btn btn-outline-primary btn-lg"
        type="submit"
        routerLink="cart"
      >
        <i class="pi pi-shopping-cart"> </i>
      </button>

      <div class="countProd" *ngIf="countProd > 0">
        {{ countProd }}
      </div>
    </form>
  </div>
</nav>
