<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary" type="submit" routerLink="cart">
        <i class="pi pi-shopping-cart"> </i>
      </button>
      <div class="countProd" *ngIf="countProd > 0">
        {{ countProd }}
      </div>
    </form>
  </div>
</nav>
