.listshop {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.imgPreview img {
  width: 18rem;
  height: 250px;
  object-fit: cover;
}

.button {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}
