<div class="container">
  <div class="button">
    <button type="button" class="btn btn-outline-primary" (click)="show()">
      Add User
      <i class="pi pi-plus"></i>
    </button>
  </div>
  <div class="listUser">
    <div class="card" style="width: 18rem" *ngFor="let user of users">
      <img src="{{ user.image }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h3 class="card-title">{{ user.name }}</h3>
        <ng-template pTemplate="body" let-product></ng-template>
        <div class="button">
          <button
            class="btn btn-outline-primary btn-lg"
            data-bs-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            id="action"
          >
            <i class="pi pi-info-circle"></i>
          </button>

          <button
            class="btn btn-outline-danger"
            data-bs-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
            id="action"
          >
            <i class="pi pi-trash"></i>
          </button>
        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <p><span>E-mail: </span> {{ user.email }}</p>
            <p><span>Telephone: </span> {{ user.telephone }}</p>
            <p><span>E-mail: </span> {{ user.address }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
